.ajouter-question{
    height: 100vh;
    background-color: #0035D5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

h1{
    font-family: "lobster";
    color: white;
    font-size: 2.3rem;
}

form{
    background-color: #001b6c;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

select{
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 200px;
}

input{
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 200px;
}