.quiz-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px;
    margin-bottom: -150px;
    border-radius: 10px;
    padding: 30px;
}


.quiz-categories img {
    width: 80%;
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.quiz-categories h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 20px;
}


.quiz-categories .categorie {
    display: block;
    background-color: #0035D5;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.quiz-categories .categorie:hover {
    background-color: white;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.quiz-categories a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #0035D5;
    background-color: white;
    opacity: 0.7;
    text-align: center;
    height: 50px;
    align-content: center;
    border-radius: 30px;
    width: 400px;
    transition: 0.3s ease;
}

.quiz-categories a:hover{
    background-color: white;
    opacity: 1;
}



/* Responsive */
@media (max-width: 768px) {
    .quiz-categories {
        width: 100%;
        padding: 20px;
    }

    h1 {
        font-size: 28px;
    }

    .quiz-categories .categorie {
        font-size: 16px;
        padding: 12px;
    }
}
