.dashboard{
    height: 100vh;
    gap: 30px;
    background-color: #0035D5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard h3{
    font-family: "lobster";
    font-size: 2rem;
    color: white;
}

.deconnexion{
    border-radius: 20px;
    height: 40px;
    width: 200px;
    background-color: #001b6c;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.dashboard div{
    padding: 30px;
    width: 800px;
    height: 100px;
    background-color: #001b6c;
    border-radius: 15px;
}

.dashboard span{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}