header {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--unfocus-color);
    .aTitre {
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--black-color);
        h1 {
            height: 100%;
            width: fit-content;
            display: flex;
            align-items: center;
            font-family: var(--title-font);
            font-size: 28px;
            padding: 0 10px;
            background: linear-gradient(var(--unfocus-color), var(--unfocus-color) 50%, var(--bg-body) 50%, var(--bg-body));
            background-size: 100% 200%;
            transition: background 0.5 ease;
            transition: 0.5s ease;
        }
    }
    .aTitre:hover {
        cursor: pointer;
        h1 {
            background-position: 100% 100%;
            color: white;
        }
    }
    .aImg {
        height: 100%;
        img {
            height: 100%;
            width: auto;
            border-radius: 15px;
            background-color: var(--unfocus-color);
            transition: 0.5s ease;

        }
        img:hover {
            padding-top: 20px;
        }
    }
    nav {
        height: 100%;
        width: 20%;
        ul {
            height: 100%;
            list-style: none;
            display: flex;
            justify-content: center;
            li {
                height: 100%;
                a {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    text-decoration: none;
                    font-family: var(--main-font);
                    font-weight: bold;
                    letter-spacing: 0.5px;
                    color: var(--black-color);
                    padding: 0 10px;
                    background: linear-gradient(var(--unfocus-color), var(--unfocus-color) 50%, var(--bg-body) 50%, var(--bg-body));
                    background-size: 100% 200%;
                    transition: background 0.5 ease;
                    transition: 0.5s ease;
                }
                a:hover {
                    background-position: 100% 100%;
                    color: white;
                }
            }
        }
    }
}